openapi: "3.1.0"

info:
  title: API Admin Certifaction
  description: |
    L'API Admin Certifaction est utilisée pour gérer les utilisateurs, les rôles et les espaces d'équipe.
  version: ""

servers:
  - url: https://api.certifaction.io

security:
  - api_key: [ ]

tags:
  - name: Organization
    description: Gérer votre organisation, les utilisateurs et les rôles.
  - name: Teamspace
    description: Gérer les espaces d'équipe et leurs membres.
components:

  responses:
    bad_request:
      description: La requête n'est pas correctement formée. Par exemple, le contenu n'a pas pu être lu.
    unauthorized:
      description: Vous n'êtes pas autorisé à effectuer cette opération. Vérifiez que votre clé API est correcte.
    forbidden:
      description: Vous n'avez pas la permission d'effectuer cette opération. Par exemple, vous pourriez ne pas avoir le rôle requis.
    not_found:
      description: La ressource demandée n'a pas été trouvée.
    conflict:
      description: Conflit détecté dans la requête. Par exemple, un utilisateur pourrait avoir déjà rejoint une organisation.
    internal_server_error:
      description: Une erreur s'est produite sur le serveur

  securitySchemes:
    api_key:
      name: Authorization
      in: header
      type: apiKey

  schemas:
    teamspace_member_add_request:
      type: object
      properties:
        member_user_ids:
          type: array
          items:
            type: string
          description: Liste des IDs utilisateur à ajouter à l'espace d'équipe. Ne peut être utilisé que si l'utilisateur a déjà rejoint.
        member_user_emails:
          type: array
          items:
            type: string
          description: Liste des emails utilisateur à inviter à l'espace d'équipe. Doit être utilisé si l'utilisateur n'a pas encore rejoint.
        send_email:
          type: boolean
          description: Envoyer ou non une invitation par email. La valeur par défaut est true si non spécifié.
      not:
        allOf:
          - properties:
              member_user_ids:
                maxItems: 0
          - properties:
              member_user_emails:
                maxItems: 0

    teamspace_rename_request:
      type: object
      properties:
        name:
          type: string
          description: Le nouveau nom pour l'espace d'équipe
      required:
        - name

    organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          minLength: 2
          maxLength: 80
        name_verified:
          type: boolean
        email:
          type: string
          format: email
          nullable: true
        organization_users:
          type: array
          items:
            $ref: '#/components/schemas/organization_user'
        quota:
          type: integer
          nullable: true
        legacy_credits:
          type: boolean
        roles:
          type: array
          items:
            $ref: '#/components/schemas/organization_role'

    organization_user:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/user'
        role:
          type: string
          deprecated: true
        status:
          type: string
        invite_email:
          type: string
          format: email
          nullable: true
        organization:
          type: boolean
        is_admin:
          type: boolean
        roles:
          type: array
          items:
            $ref: '#/components/schemas/organization_role'
        teamspaces:
          type: array
          items:
            $ref: '#/components/schemas/team_space_description'
          nullable: true

    organization_role:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        default:
          type: boolean
        admin:
          type: boolean

    team_space_description:
      type: object
      properties:
        id:
          type: string
        name:
          type: string

    user:
      type: object
      properties:
        id:
          type: integer
        uid:
          type: string
        email:
          type: string
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
        quota:
          type: integer
        subscription_type:
          type: string
        theme:
          type: object
          properties:
            name:
              type: string
          required:
            - name
        name_verified:
          type: boolean

  requestBodies:
    organization_user_invite:
      content:
        application/json:
          schema:
            type: object
            properties:
              email:
                type: string
              role_id:
                type: string
              send_email:
                type: boolean
                description: "Envoyer ou non une invitation par email. La valeur par défaut est true si non spécifié."

    organization_role_assign:
      content:
        application/json:
          schema:
            type: object
            properties:
              user_uid:
                type: string
                description: "Soit user_uid SOIT invite_email doit être défini, selon que l'utilisateur a déjà rejoint ou non"
              invite_email:
                type: string
              role_id:
                type: string

paths:
  "/organization":
    get:
      tags:
        - Organization
      summary: Obtenir votre organisation
      operationId: getOrganization
      responses:
        "200":
          description: Détails de l'organisation récupérés avec succès.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/organization"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "500":
          $ref: "#/components/responses/internal_server_error"

  "/organization/{id}/user":
    post:
      tags:
        - Organization
      summary: Inviter un utilisateur
      description: "Un utilisateur peut être invité plusieurs fois, à condition qu'il n'ait pas encore accepté l'invitation. Un email est envoyé pour chaque invitation"
      parameters:
        - name: id
          in: path
          required: true
          description: L'ID de l'organisation à laquelle vous voulez inviter l'utilisateur
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/organization_user_invite"
      responses:
        "200":
          description: Invité
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "409":
          $ref: "#/components/responses/conflict"
        "500":
          $ref: "#/components/responses/internal_server_error"

    delete:
      tags:
        - Organization
      summary: Supprimer un utilisateur d'une organisation
      parameters:
        - name: id
          in: path
          required: true
          description: L'ID de l'organisation
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              anyOf:
                - properties:
                    user_uid:
                      type: string
                      description: L'UID de l'utilisateur à supprimer
                  required: [user_uid]
                - properties:
                    invite_email:
                      description: L'email de l'utilisateur invité à supprimer
                      type: string
                  required: [invite_email]
      responses:
        "200":
          description: Utilisateur supprimé avec succès
        "400":
          $ref: "#/components/responses/bad_request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "409":
          $ref: "#/components/responses/conflict"
        "500":
          $ref: "#/components/responses/internal_server_error"

  "/organization/{organization_id}/role":
    post:
      tags:
        - Organization
      summary: Changer le rôle d'un utilisateur
      description: Changer le rôle d'un utilisateur dans une organisation, en utilisant soit l'UID utilisateur soit l'email d'invitation.
      parameters:
        - name: organization_id
          in: path
          required: true
          description: L'ID de l'organisation
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/organization_role_assign'
      responses:
        "200":
          description: Rôle mis à jour avec succès
        "400":
          $ref: "#/components/responses/bad_request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "409":
          $ref: "#/components/responses/conflict"
        "500":
          $ref: "#/components/responses/internal_server_error"

  "/team-space/{id}/rename":
    patch:
      tags:
        - Teamspace
      summary: Renommer un espace d'équipe
      description: Mettre à jour le nom d'un espace d'équipe.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID de l'espace d'équipe à renommer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/teamspace_rename_request"
      responses:
        "201":
          description: Espace d'équipe renommé avec succès
        "400":
          $ref: "#/components/responses/bad_request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/internal_server_error"

  "/team-space/{id}/members":
    post:
      tags:
        - Teamspace
      summary: Ajouter des membres à un espace d'équipe
      description: Ajouter un ou plusieurs utilisateurs à un espace d'équipe par ID utilisateur ou email.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID de l'espace d'équipe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/teamspace_member_add_request"
      responses:
        "201":
          description: Membres ajoutés avec succès
        "400":
          $ref: "#/components/responses/bad_request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/internal_server_error"

  "/team-space/{id}/members/{memberId}":
    delete:
      tags:
        - Teamspace
      summary: Supprimer un membre d'un espace d'équipe
      description: Supprimer un utilisateur spécifique d'un espace d'équipe.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID de l'espace d'équipe
        - name: memberId
          in: path
          required: true
          schema:
            type: string
          description: ID du membre à supprimer
        - name: send_email
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Envoyer ou non un email de notification. La valeur par défaut est true.
      responses:
        "204":
          description: Membre supprimé avec succès
        "400":
          $ref: "#/components/responses/bad_request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "500":
          $ref: "#/components/responses/internal_server_error"